.container{
   padding: 50px;
}
.container-table{
    border: 1px solid grey;
    background-color: #fafafa;
}
th, td{
    border: 1px solid grey;
}

h2{
    border-bottom: 1px solid #e6e6e6;
}
img{
    width: 318px;
}
li{
    list-style-type: none;
    padding: 6px;
    color: black;
}

.container-text{
    font-size: 18px;
    font-family: Arial sans-serif;
}

.javascript-code{
    padding: 16px;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 3px;
}

